$color-azul: #0080ff;

.navbar {
	&.navbar-default {
	background-color: #fff;
    border-color: #fff;
	border-bottom: 1px solid;
	}
}

.navbar-nav {
	&.navbar-right {
		.activo {
			background-color: $color-azul;
			color: #fff;
			}
	}
}

.navbar-default {
	.navbar-nav {
		li {
			a.activo{
			color: #fff !important;
			}
		}
	}
}

.menu {
	height: 50px;


}
.background-azul {
	display:flex;
	align-content: center;
	height: 600px;
	background-color: $color-azul;
	padding: 76px;
	h1 {
		color: #fff;
		font-size: 40px;
		padding: 30px 0 0 0 ;
	}

}

form {
	.formulario {
	background-color: transparent;
	border-color: rgba(50, 115, 220, 0.3);
	padding: 10px;
	margin-top: 10px;
	width: 300px;
	}
	.boton {
	background-color: #fff;
	color: #666;
	margin-top: 10px;
	padding: 10px;
	width: 300px;
	text-align: center;
	border-color: none;	
		.boton:hover {
		border-color: none;

	}
	}

}

h2 {
	text-align: center;
	margin-top: 20px;
	padding: 20px; 
}

.pricing {
	display: flex;
	flex-flow: row wrap;
	align-content:center;
	.pricing-details {
		width: 20%;
		text-align: center;
		border: 1px solid;
		border-color: #0080ff;
		h3 {
			font-size: 35px;
		}
		p {
			color: $color-azul;
		}
	}

}

section {
	    border-top: 1px solid #eee;
	    margin-top: 40px;
}
.btn {
	&.btn-primary {
		&.btn-lg {
			&.btn-block {
				&.btn-ver-mas-planes {
				background-color: $color-azul;
				margin-top: 20px;
				font-size: 15px;
				}
			}

		}
		

	}

}

.container {
	&.logos {
		img {
			width: 100%;
		}
	}
}

.container {
	&.get-in-touch {
		background-image: url(img/bg-git.png);
	}
}

